<main>        
        <div class="hero jumbotron jumbotron-fluid">
            <div class="container">
            <h1 class="display-4">Welcome to Music Lab</h1>
            <p class="lead"><span style="color: white;">An app for creating music using various sounds. Users can pick and choose sounds and mix together to create music files of their own</span></p>
            <!-- <form class="form-inline my-2 my-lg-2">
                <div>
                    <input id="citysearch" class="form-ctrl mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button id="searchBtn" class="src-btn btn-outline-success" type="submit">Search</button>
                </div>
            </form> -->
            </div>
        </div>

        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Sound Options
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <button id="hymn-rhodes-btn" class="btn dropdown-item">Hymn Rhodes</button>
                <button id="hymn-vibes-btn" class="btn dropdown-item">Hymn Vibes</button>
                {{!-- <a class="dropdown-item" href="#">Something else here</a> --}}
            </div>
        </div>    
        
        
        {{!-- <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Sound Options
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <button id="hymn-rhodes-btn"> Hymn_Rhodes </button>
            <button id="hymn-vibes-btn"> Hymn_Vibes </button>
        </div>
        </div> --}}
        <div class="container-fluid pads">
            <!-- row columns start here -->
            <div id="hymn-rhodes" class="options row hidden">
                <!--card 1-->
                <div id="pad1" class="draggable byte-card col-2 color1" index="1" draggable="true" ondragstart="onDragStart(event);">
                    <div class="card-body-byte">                        
                        <i class="fa fa-note fa-music" aria-hidden="true"></i> 
                        <audio class="sound" src="./audio/Fhymn_rhodes_1.mp3" onplaying="Highlight(event)"></audio>                                               
                    </div>
                </div>
                <div id="pad2" class="draggable byte-card col-2 color2" index="2" draggable="true" ondragstart="onDragStart(event);">
                    <div class="card-body-byte">                        
                        <i class="fa fa-note fa-music" aria-hidden="true"></i>
                        <audio class="sound" src="./audio/Fhymn_rhodes_2.mp3" onplaying="Highlight(event)"></audio>                                                
                    </div>
                </div>
                <div id="pad3" class="draggable byte-card col-2 color3" index="3" draggable="true" ondragstart="onDragStart(event);">
                    <div class="card-body-byte">                        
                        <i class="fa fa-note fa-music" aria-hidden="true"></i>
                        <audio class="sound" src="./audio/Fhymn_rhodes_3.mp3" onplaying="Highlight(event)"></audio>                                                
                    </div>
                </div>
                <div id="pad4" class="draggable byte-card col-2 color4" index="4" draggable="true" ondragstart="onDragStart(event);">
                    <div class="card-body-byte">                        
                        <i class="fa fa-note fa-music" aria-hidden="true"></i>
                        <audio class="sound" src="./audio/Fhymn_rhodes_4.mp3" onplaying="Highlight(event)"></audio>                                                
                    </div>
                </div>
            </div>
            <div id="hymn-vibes" class="options row hidden">
                <!--card 1-->
                <div id="pad5" class="draggable byte-card col-2 color1" index="5" draggable="true" ondragstart="onDragStart(event);">
                    <div class="card-body-byte">                        
                        <i class="fa fa-note fa-music" aria-hidden="true"></i> 
                        <audio class="sound" src="./audio/Fhymn_vibes_1.mp3" onplaying="Highlight(event)"></audio>                                               
                    </div>
                </div>
                <div id="pad6" class="draggable byte-card col-2 color2" index="6" draggable="true" ondragstart="onDragStart(event);">
                    <div class="card-body-byte">                        
                        <i class="fa fa-note fa-music" aria-hidden="true"></i>
                        <audio class="sound" src="./audio/Fhymn_vibes_2.mp3" onplaying="Highlight(event)"></audio>                                                
                    </div>
                </div>
                <div id="pad7" class="draggable byte-card col-2 color3" index="7" draggable="true" ondragstart="onDragStart(event);">
                    <div class="card-body-byte">                        
                        <i class="fa fa-note fa-music" aria-hidden="true"></i>
                        <audio class="sound" src="./audio/Fhymn_vibes_3.mp3" onplaying="Highlight(event)"></audio>                                                
                    </div>
                </div>
                <div id="pad8" class="draggable byte-card col-2 color4" index="8" draggable="true" ondragstart="onDragStart(event);">
                    <div class="card-body-byte col-2">                        
                        <i class="fa fa-note fa-music" aria-hidden="true"></i>
                        <audio class="sound" src="./audio/Fhymn_vibes_4.mp3" onplaying="Highlight(event)"></audio>                                                
                    </div>
                </div>
            </div>
            <h4 style="color: black;" class="card-title">Dropzone</h4>
            <p style="text-align: center; font-weight: bold;">Use space below to drop your sound chioces to build and hear your mix.</p>
            <div id="" class="row">                
                <!-- main card container -->
                <div class="dropzone create col-12">
                    <div id="" class="dropzones drop-row">                        
                        <div class="measure drop-card col-lg-3 col-md-3 col-sm-6 row1" id="r1c1" ondragover="onDragOver(event);" ondrop="onDrop(event);">
                        </div>
                        <div class="measure drop-card col-lg-3 col-md-3 col-sm-6 row1" id="r1c2" ondragover="onDragOver(event);" ondrop="onDrop(event);">
                        </div>
                        <div class="measure drop-card col-lg-3 col-md-3 col-sm-6 row1" id="r1c3" ondragover="onDragOver(event);" ondrop="onDrop(event);">
                        </div>
                        <div class="measure drop-card col-lg-3 col-md-3 col-sm-6 row1" id="r1c4" ondragover="onDragOver(event);" ondrop="onDrop(event);">
                        </div>
                    </div>
                    <div id="" class="dropzones drop-row">
                        <div class="measure drop-card col-lg-3 col-md-3 col-sm-6 row2" id="r2c1" ondragover="onDragOver(event);" ondrop="onDrop(event);">
                        </div>
                        <div class="measure drop-card col-lg-3 col-md-3 col-sm-6 row2" id="r2c2" ondragover="onDragOver(event);" ondrop="onDrop(event);">
                        </div>
                        <div class="measure drop-card col-lg-3 col-md-3 col-sm-6 row2" id="r2c3" ondragover="onDragOver(event);" ondrop="onDrop(event);">
                        </div>
                        <div class="measure drop-card col-lg-3 col-md-3 col-sm-6 row2" id="r2c4" ondragover="onDragOver(event);" ondrop="onDrop(event);">
                        </div>
                    </div>
                    <div id="" class="dropzones drop-row">
                        <div class="measure drop-card col-lg-3 col-md-3 col-sm-6 row3" id="r3c1" ondragover="onDragOver(event);" ondrop="onDrop(event);">
                        </div>
                        <div class="measure drop-card col-lg-3 col-md-3 col-sm-6 row3" id="r3c2" ondragover="onDragOver(event);" ondrop="onDrop(event);">
                        </div>
                        <div class="measure drop-card col-lg-3 col-md-3 col-sm-6 row3" id="r3c3" ondragover="onDragOver(event);" ondrop="onDrop(event);">
                        </div>
                        <div class="measure drop-card col-lg-3 col-md-3 col-sm-6 row3" id="r3c4" ondragover="onDragOver(event);" ondrop="onDrop(event);">
                        </div>
                    </div>
                    <div id="" class="dropzones drop-row">
                        <div class="measure drop-card col-lg-3 col-md-3 col-sm-6 row4" id="r4c1" ondragover="onDragOver(event);" ondrop="onDrop(event);">
                        </div>
                        <div class="measure drop-card col-lg-3 col-md-3 col-sm-6 row4" id="r4c2" ondragover="onDragOver(event);" ondrop="onDrop(event);">
                        </div>
                        <div class="measure drop-card col-lg-3 col-md-3 col-sm-6 row4" id="r4c3" ondragover="onDragOver(event);" ondrop="onDrop(event);">
                        </div>
                        <div class="measure drop-card col-lg-3 col-md-3 col-sm-6 row4" id="r4c4" ondragover="onDragOver(event);" ondrop="onDrop(event);">
                        </div>
                    </div>
                </div>                
            </div>
            <button style="width: 100px;" id="play" type="button" class="btn btn-secondary">Play</button>
            <button style="width: 100px;" id="save" type="button" class="btn btn-secondary">Save</button>             
        </div>
    </main>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="./js/logout.js"></script>
<script src="./js/create.js"></script>