<main>        
        <div class="hero jumbotron jumbotron-fluid">
            <div class="container">
            <h1 class="display-4">Welcome to Music Lab</h1>
            <p class="lead"><span>An app for creating music using various sounds. Users can pick and choose sounds and mix together to create music files of their own</span></p>
            <!-- <form class="form-inline my-2 my-lg-2">
                <div>
                    <input id="citysearch" class="form-ctrl mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button id="searchBtn" class="src-btn btn-outline-success" type="submit">Search</button>
                </div>
            </form> -->
            </div>
        </div>
        <div class="container">
            <!-- row columns start here -->
            <div id="search-results" class="row">
                <!--card 1-->
                <div class="cust-card-dark col-lg-5 col-md-10 col-sm-12">
                <!-- <img src="./assets/images/Jordan_Pond.jpg" class="card-img-height card-img-top" alt="placeholder"> -->
                    <div class="card-body">                        
                        <h4 class="card-title">Sign In</h4>
                        <p class="card-text">Not your first Rodeo? Sign in with your username and password below to build more stuff :/</p>
                        <form class='login-form'>
                            <div class="row">
                              <label for="inputUN" class="col-sm-4 col-form-label">User Name</label>
                              <div class="col-sm-12">
                                <input type="username" class="form-control" id='username-login'>
                              </div>
                            </div>
                            <div class="row">
                              <label for="inputPW" class="col-sm-4 col-form-label">Password</label>
                              <div class="col-sm-12">
                                <input type="password" class="form-control" id='password-login'>
                              </div>
                            </div>
                            <button type="submit" class="home-btn btn-primary">Sign in</button>
                            <!-- <button type="submit" class="home-btn btn-primary">Create user</button> -->
                        </form>
                    </div>
                </div>
                <div class="cust-card-dark col-lg-5 col-md-10 col-sm-12">
                <!-- <img src="./assets/images/Jordan_Pond.jpg" class="card-img-height card-img-top" alt="placeholder"> -->
                  <div class="card-body">                        
                      <h4 class="card-title">Create A User</h4>
                      <p class="card-text">New to the site? Create your user below to begin to unbeleivable fun times of mixing music</p>
                      <form class="signup-form">
                          <div class="row">
                            <label for="inputUN" class="col-sm-4 col-form-label">User Name</label>
                            <div class="col-sm-12">
                              <input type="username" class="form-control" id='username-signup'>
                            </div>
                          </div>
                          <div class="row">
                            <label for="inputPW" class="col-sm-4 col-form-label">Password</label>
                            <div class="col-sm-12">
                              <input type="password" class="form-control" id='password-signup'>
                            </div>
                          </div>
                          <!-- <button type="submit" class="home-btn btn-primary">Sign in</button> -->
                          <button type="submit" class="home-btn btn-primary">Create user</button>
                          <p id="success" style="display: none">{{success}}</p>
                      </form>
                  </div>
              </div>
          </div>
        </div>
    </main>

<script src="./js/login.js"></script>
<script src="./js/logout.js"></script>