    <main>        
        <div class="hero jumbotron jumbotron-fluid">
            <div class="container">
            <h1 class="display-4">Welcome to Music Lab</h1>
            <p class="lead"><span style="color: white;">An app for creating music using various sounds. Users can pick and choose sounds and mix together to create music files of their own</span></p>
            <!-- <form class="form-inline my-2 my-lg-2">
                <div>
                    <input id="citysearch" class="form-ctrl mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button id="searchBtn" class="src-btn btn-outline-success" type="submit">Search</button>
                </div>
            </form> -->
            </div>
        </div>
        <div class="container">
            <!-- row columns start here -->
            <div id="search-results" class="row">
                <!--card 1-->
                <div class="cust-card-dark col-8">
                <!-- <img src="./assets/images/Jordan_Pond.jpg" class="card-img-height card-img-top" alt="placeholder"> -->
                    <div class="card-body">                        
                        <h4 class="card-title">Album Art Display Here</h4>
                        <img src="">
                                               
                    </div>
                </div>                             
            </div>            
            <div id="search-results" class="row">
                <!--card 1-->
                <div class="cust-card-dark col-12">
                <!-- <img src="./assets/images/Jordan_Pond.jpg" class="card-img-height card-img-top" alt="placeholder"> -->
                    <div class="card-body">                        
                        <h4 class="card-title">Community Posts</h4>
                        <div>
                            <div>
                                <p class="card-text">Post 1</p>
                            </div>
                            <div>
                                <p class="card-text">Post 1</p>
                            </div>
                            <div>
                                <p class="card-text">Post 1</p>
                            </div>                          
                            <div>
                                <p class="card-text">Post 1</p>
                            </div>
                        </div>    
                    </div>
                </div>                
            </div>
            <div class="flex-row">
                <textarea class="form-control textarea" id="comment-content" data-id={{id}} placeholder="Leave a comment..."></textarea>
            </div>
            <div class="mt-2 text-right">
                <button class="btn btn-danger btn-sm shadow-none" id="commentBtn" type="button">Submit</button>
            </div>
        </div>
    </main>

<script src="./js/logout.js"></script>