h1, h2, h3, h4, h5 {
    font-weight:bold;
}

h1 {
    color: #383838;
}

h4 {
    text-align: center;
    color: #c973ff;
}

hr {
    border: 1px solid gray;
    width: 100%;
    margin: 0px 15px 25px;
}

i {
    color: #c973ff;  
}

a:hover {
  text-decoration: none;  
}

footer {
    margin-top: 25px;
}

#output {
     padding: 15px;
     font-size: 15px;
 }

.nav-icon {
    font-size: 30px;
    padding-right: 10px;

 } 

.navbar-brand {
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.50rem;
    font-weight: bold;
    line-height: inherit;
    white-space: nowrap;
}

 .dash-icon {
    font-size: 150px;
    text-align: center;
    margin-top: 55px;
 }

 .dash-icon:hover {
    color: #c973ff;
     text-decoration: none;
     cursor: pointer;
     text-shadow: 0px 0px 10px #c973ff;
 }

 .top-nav {
    display: block;
    padding: .5rem 1rem;
    padding-right: .5rem;
    padding-left: .5rem;
    color: white;
    cursor: pointer;
 }

 .top-nav:hover {
     color: #c973ff;
     text-decoration: none;
     cursor: pointer;
     text-shadow: 0px 0px 8px #c973ff;
 }

 .btn {
    background-color: #aa20ff;
    border-color: #c973ff;
    color: #fff;
    margin: 3px;
 }

 .btn:hover {
    background-color: #c973ff;
    border-color: #fd4afd;    
    color: #fff;
 }

 .dropdown-item {
    display: block;
    width: 95%;
    padding: .25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #f0f0f0;
    text-align: center;
    white-space: nowrap;
    border: 0;
}


 .home-btn {
    background-color: #aa20ff;
    border-color: #c973ff;
    color: #fff;
 }

 .home-btn:hover {
    background-color: #c973ff;
    border-color: #fd4afd;    
    color: #fff;
 }


.hero {
    background-image: linear-gradient(#a141dd, #ebccff);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.cust-card-dark {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #242424;
    color: white;
    background-clip: border-box;
    border-radius: .25rem;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
    height: 100%;    
}


.dropdown {
    position: relative;
    margin: 20px;
}

.dropdown:hover {
    color: #000;
}



.dropzone {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #242424;
    color: white;
    background-clip: border-box;
    border-radius: .25rem;
    height: 100%;  
    margin-bottom: 25px;  
    padding: 10px;
}

div.color1 {
    background-color: #6e8b4b;
}
.byte-card.color2 {
    background-color: #a161a7;
}
.byte-card.color3 {
    background-color: #30427c;
}
.byte-card.color4 {
    background-color: #b19f67;
}

.byte-card {
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    min-width: 0;
    min-height: 50px;
    word-wrap: break-word;
    text-align: center;
    /* background-color: #242424; */
    color: white;
    background-clip: border-box;
    border-radius: .25rem;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    padding: 10px;
}

.drop-row {    
    display: flex;   
    margin-right: -15px;
    margin-left: -15px;
    
}

.drop-card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;    
    background-color: #c973ff;
    background-clip: border-box;
    border-radius: .25rem;
    margin: 3px;    
    height: 100px;    
}

.comm-card-dark {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #242424;
    color: white;
    background-clip: border-box;
    border-radius: .25rem;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
    /* height: 450px;     */
}

.stored {
    background-color: #5e5e5e;
}

.bg-dark-nav {
    background-color:#242424;
    color: #c973ff;
}

.bg-dark-footer {
    background-color:#242424;
    color: #c973ff;
    height: 350px;
}

.card-img-height {
    height: 250px;
    width: 100%;
}

.display-height {
    height: 500px;
    width: 100%;
}


.home-btn {
        display: inline-block;
        font-weight: 400;
        color: #fff;
        text-align: center;
        vertical-align: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        /* background-color: transparent;
        border: 1px solid transparent; */
        padding: .375rem .75rem;
        font-size: 1rem;
        line-height: 1.5;
        border-radius: .25rem;
        transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        margin-top: 20px;
        width: 100%;    
}

.card .card-body {
    padding: 1.88rem 1.81rem;
    margin-bottom: 35px;
}

.card-body-index {
    flex: 1 1 auto;
    padding: 1.25rem
}

.card-body-byte {    
    flex: 1 1 auto;
    min-height: 50px;
    padding: 15px;
    text-align: center;
}

.fa-note {
    font-weight: 900;
    color: #c973ff;
    font-size: 40px;
}

.fa-flask {
    font-size: 40px;
    color: white;
    margin-right: 25px;
}

.fa-microphone-alt {
    position:absolute;    
    margin-left: -50px;
    margin-top: 15px;
}

.hide{
    display: none;
}

/* Create Page Specific Styles */
.highlight {
    animation-name: highlight;
    animation-duration: 5s;
}

@keyframes highlight {
    0%   {opacity: 100%}
    12.5%  {opacity: 50%}
    25%   {opacity: 100%}
    37.5%  {opacity: 50%}
    50%   {opacity: 100%}
    62.5%  {opacity: 50%}
    75%  {opacity: 100%}
    87.5% {opacity: 50%}
    100%  {opacity: 100%}
  }

.hidden {
    display: none;
}

.draggable {
    cursor: move;
}

.draggable.dragging {
    opacity: 50%;
}